<div class="container signUp-container">
    <div class="card">
        <h2 class="text-center mb-4">Restaurar Contraseña</h2>
        <form class="row g-0" action="/recoverPassword/{{key}}" method="POST">
            <div class="mb-3 px-1">
                <label for="password" class="form-label mx-1">New Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="mb-3 px-1">
                <label for="password" class="form-label mx-1">Repeat New Password</label>
                <input type="password" name="confirmPassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>