<div class="container signUp-container">
    <div class="card" style="max-width: 690px; padding:25px;">
        <h2 class="text-center mb-4">Reset Password</h2>
        {{#if error}}
            <p class="text-danger error rounded p-2">{{error}}</p>
        {{/if}}
        <form class="row g-0" action="/recoverPassword/{{key}}" method="POST">
            <div class="mb-3 px-1">
                <label for="password" class="form-label mx-1">New Password</label>
                <input type="password" name="password" class="form-control" placeholder="Your password">
            </div>
            <div class="mb-3 px-1">
                <label for="password" class="form-label mx-1">Repeat New Password</label>
                <input type="password" name="confirmPassword" class="form-control" placeholder="Repeat your password">
            </div>
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
</div>