<div class="container-xl py-3">
    <div class="row d-flex justify-content-center align-items-center g-3">
        <div class="col-md-4">
            <a href="/api/products" class="navbar-brand"> <img src="/img/banners/logo.png" width="200px" height="70px" alt="Gonz E-commerce"></a>
        </div>
        <div class="col-md-4 ">
            <form role="search" action="/api/products/search/product" method="get">
                <div class="input-group input-group-lg d-flex w-100 mx-auto">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" minlength="2" maxlength="30" required/>
                    <button class="btn text-black fw-semibold btn-search" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <ul class="navbar-nav flex-row justify-content-around">
                {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white pcolor-hover fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i> {{user.firstname}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/api/users/profile">Profile</a></li>
                            {{#if user.admin}}
                                <li><a class="dropdown-item" href="/api/users">Users</a></li>
                            {{/if}}
                            <li><a class="dropdown-item" href="/api/users/logout">Logout</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/login" class="nav-link text-white fs-5 pcolor-hover"><i class="bi bi-person-fill"></i> Log In</a>
                    </li>
                {{/if}}
                {{#if user}}
                    <li class="nav-item">
                        <a href="/api/carts/{{user.cartId}}" class="nav-link text-white fs-5 pcolor-hover"><i class="bi bi-cart3"></i> My Cart</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/api/carts/anonymus" class="nav-link text-white fs-5 pcolor-hover"><i class="bi bi-cart3"></i> My Cart</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>

<div class="bg-black border-top border-success">
    <div class="container">
        <nav class="navbar navbar-expand-lg d-flex justify-content-center navbar-2">
            <ul class="nav">
                <li class="nav-item dropdown drop-li">
                    <a class="nav-link dropdown-toggle text-white pcolor-hover" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Categories </a>
                    <ul class="dropdown-menu drop-ul p-0 border border-2 rounded">
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/motherboards"><i class="bi bi-motherboard"></i> Motherboards</a></li>
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/processors"><i class="bi bi-cpu"></i> Processors</a></li>
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/storage"><i class="bi bi-hdd"></i> Storage</a></li>
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/memory"><i class="bi bi-memory"></i> Ram Memory</a></li>
                        <li class="dropend border border-1">
                            <a class="nav-link dropdown-toggle mx-1 pcolor-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Peripherals
                            </a>
                            <ul class="dropdown-menu drop-ul p-0 border border-2 rounded">
                                <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/mouses"><i class="bi bi-mouse3"></i> Mouses</a></li>
                                <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/keyboards"><i class="bi bi-keyboard"></i> Keyboards</a></li>
                                <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/headphones"><i class="bi bi-headset"></i> Headphones</a></li>
                                <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/microphones"><i class="bi bi-mic"></i> Microphones</a></li>
                                <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/webcams"><i class="bi bi-webcam"></i> Webcams</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/powersupply"><i class="bi bi-power"></i> Power Supply</a></li>
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/towers"><i class="bi bi-pc"></i> Towers</a></li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle mx-1 pcolor-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gpu-card"></i> Video Cards
                            </a>
                            <ul class="dropdown-menu drop-ul p-0 border border-2 rounded">
                                <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/search/product?search=Videocard AMD"><i class="bi bi-amd"></i> AMD</a></li>
                                <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/search/product?search=Videocard NVIDIA"><i class="bi bi-nvidia"></i> Nvidia</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/refrigeration"><i class="bi bi-fan"></i> Refrigeration</a></li>
                        <li><a class="dropdown-item pcolor-hover border border-1" href="/api/products/category/Connectivity"><i class="bi bi-usb-symbol"></i> Connectivity</a></li>
                    </ul>
                </li>
                <button class="navbar-toggler text-white pcolor-hover" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2" aria-expanded="false" >
                    <i class="bi bi-arrow-down-square-fill "></i> More
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse2">
                    <li class="nav-item border-start border-secondary"><a href="/api/products/category/notebooks" class="nav-link text-white pcolor-hover"><i class="bi bi-laptop"></i> Notebooks</a></li>
                    <li class="nav-item border-start border-secondary"><a href="/api/products/category/computers" class="nav-link text-white pcolor-hover"><i class="bi bi-pc-display"></i> Computers</a></li>
                    <li class="nav-item border-start border-secondary"><a href="/api/products/category/monitors" class="nav-link text-white pcolor-hover"></i><i class="bi bi-display"></i> Monitors</a></li>
                    <li class="nav-item border-start border-secondary"><a href="/api/products/category/videocards" class="nav-link text-white pcolor-hover"><i class="bi bi-gpu-card"></i> GPU Cards</a></li>
                </div> 
            </ul>
        </nav>
    </div>
</div>