<ul class="list-group list-category">
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/monitors"><i class="bi bi-display"></i> Monitors</a></li>
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/motherboards"><i class="bi bi-motherboard"></i> Motherboards</a></li>
    <li class="list-group-item dropdown-toggle" data-bs-toggle="collapse" href="#processors" role="button" aria-expanded="false" aria-controls="proccessors"><i class="bi bi-cpu"></i> Processors</li>
    <div class="collapse" id="processors">
        <li class="list-group-item"><a class="nav-link" href="/api/products/search/product?search=Processor AMD"><i class="bi bi-amd ps-3"></i> AMD Processors</a></li>
        <li class="list-group-item"><a class="nav-link" href="/api/products/search/product?search=Processor Intel"><i class="bi bi-cpu-fill ps-3"></i> Intel Processors</a></li>
    </div>
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/storage"><i class="bi bi-hdd"></i> Storage</a></li>
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/memory"><i class="bi bi-memory"></i> Ram Memory</a></li>
    <li class="list-group-item dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Peripherals</li>
    <div class="collapse" id="collapseExample">
        <li class="list-group-item"><a class="nav-link" href="/api/products/category/mouses"><i class="bi bi-mouse3 ps-3"></i> Mouses</a></li>
        <li class="list-group-item"><a class="nav-link" href="/api/products/category/keyboards"><i class="bi bi-keyboard ps-3"></i> Keyboards</a></li>
        <li class="list-group-item"><a class="nav-link" href="/api/products/category/headphones"><i class="bi bi-headset ps-3"></i> Headphones</a></li>
        <li class="list-group-item"><a class="nav-link" href="/api/products/category/microphones"><i class="bi bi-mic ps-3"></i> Microphones</a></li>
        <li class="list-group-item"><a class="nav-link" href="/api/products/category/webcams"><i class="bi bi-webcam ps-3"></i> Webcams</a></li>
    </div>
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/powersupply"><i class="bi bi-power"></i> Power Supply</a></li>
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/towers"><i class="bi bi-pc"></i> Towers</a></li>
    <li class="list-group-item dropdown-toggle" data-bs-toggle="collapse" href="#videocards" role="button" aria-expanded="false" aria-controls="videocards"><i class="bi bi-gpu-card"></i> Video Cards</li>
    <div class="collapse" id="videocards">
        <li class="list-group-item"><a class="nav-link" href="/api/products/category/amd video cards"><i class="bi bi-amd ps-3"></i> AMD</a></li>
        <li class="list-group-item"><a class="nav-link" href="/api/products/category/nvidia video cards"><i class="bi bi-nvidia ps-3"></i> Nvidia</a></li>
    </div>
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/refrigeration"><i class="bi bi-fan"></i> Refrigeration</a></li>
    <li class="list-group-item"><a class="nav-link" href="/api/products/category/connectivity"><i class="bi bi-usb-symbol"></i> Connectivity</a></li>
</ul>