.chat-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #f1f1f1;
  padding: 10px;
}
.row-chat{
  display: flex;
  flex-direction:row;
  height: 100%;
}
.col-chat{
  display: flex;
  flex-direction: column;
}
.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #2196f3;
  border-radius: 5px;
  color: white;
  padding: 0 20px;
}

.users-header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 5px;
}
.user{
  color: black;
  height: 50px;
  margin: 20px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(126, 251, 117);

}
.cartelConectado{
  font-weight: bold;
  text-align: end;
}

.chat-header h2 {
  margin: 0;
  font-size: 18px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.chat-message {
  display: flex;
  margin: 10px 0;
}

.chat-message .message-bubble {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
}
.message-sender {
  justify-content: space-between;
}

.socketid {
  font-size: 8px;
  color: #777;
}
.chat-message .message-bubble .message-sender {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
}

.chat-message .message-bubble p {
  font-size: 14px;
  margin: 0;
}

.chat-input-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
}

.chat-input-container input {
  flex: 1;
  height: 100%;
  border: none;
  font-size: 14px;
  padding: 0 10px;
}

.chat-input-container button {
  height: 100%;
  background-color: #2196f3;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.signIn-container, .signUp-container{
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
}
.card{
  width: 680px;
  padding: 25px;
}




/* Nav Buttons */
.dropdown .dropdown-menu{
  display: none;
}

.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
  display: block;
  margin-top: .125em;
  margin-left: .125em;
}

.dropdown-menu .dropdown-item:hover{
  background-color: #2f2f2f;
  color: rgb(2, 255, 213);
}

@media screen and (min-width: 769px){
  .dropend:hover > .dropdown-menu{
    position: absolute;
    top: 0;
    left: 100%;
  }
}
.dropend:hover{
  background-color: #2f2f2f;
}
.dropend:hover .nav-link{
  color: rgb(2, 255, 213)!important;
}
.dropend:hover > .dropdown-menu{
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: .125em;
}